
.phone-header {
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    p {
        margin-left: 10px;
    }
}
.phone-number {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 14px;
}
.subscribe-mail {
    margin-top: 50px;
}
.mail-header {
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    p {
        margin-left: 10px;
    }
}
.e-mail {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 14px;
}
.form-inner {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.sub_block.new_dex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_block.new_dex .form_sub {
    width: 670px;
    height: 327px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -75px;
}
.sub_block.new_dex .form_sub .title {
    text-align: center;
    font-size: 16px;
    color: #000;
    line-height: 1.875;
}
.sub_block.new_dex .form_sub .inputs {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.sub_block.new_dex .form_sub .inputs input {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 247, 244);
    left: 454px;
    top: 4158px;
    width: 251px;
    height: 30px;
    outline: none;
    color: #000;
    padding: 10px;
}
.sub_block.new_dex .form_sub button {
    background-color: #993b00;
    box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
    margin-top: 50px;
    width: 232px;
    height: 44px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

